body {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 15px;
    line-height: 1.42857143;
    color: #2c3e50;
    background-color: #ffffff;
}

.navbar {
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

header .intro-text .name {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 3.25em;
    font-weight: 700;
}

header .intro-text .skills {
    font-size: 1.25em;
    font-weight: 300;
}

header .intro-text .subskills {
    font-size: 1.20em;
    font-weight: 300;
}

header {
    text-align: center;
    color: #fff;
    background-color: #364150 !important;
}

header img {
    display: block;
    margin: 0 auto 20px;
}

header .container {
    padding-top: 100px;
    padding-bottom: 50px;
}

hr.star-light, hr.star-primary {
    margin: 25px auto 30px;
    padding: 0;
    max-width: 250px;
    border: 0;
    border-top: solid 5px;
    text-align: center;
}

hr.star-light:after, hr.star-primary:after {
    content: "\f005";
    display: inline-block;
    position: relative;
    top: -.8em;
    padding: 0 .25em;
    font-family: FontAwesome;
    font-size: 2em;
}

hr.star-light {
    border-color: #fff;
}

hr.star-light:after {
    color: #fff;
    background-color: #364150;
}

.btn-outline {
    margin-top: 25px;
    padding: 10px 27px;
    border: solid 2px #fff;
    border-radius: 6px;
    font-size: 19px;
    color: #fff;
    background: 0 0;
    transition: all .3s ease-in-out;
}
section .footer-above {
    padding-top: 50px;
    background-color: #FFF;
}
.footer-col {
    margin-bottom: 50px;
}

.footer-below {
    padding: 25px 0;
    background-color: #364150;
    color: #fff;
}
section h3 {
    margin-bottom: 30px;
    text-transform: uppercase;
    font-family: Montserrat,"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: 700;
}

@media(min-width:768px) {

    .navbar-fixed-top {
        padding: 25px 0;
        -webkit-transition: padding .3s;
        -moz-transition: padding .3s;
        transition: padding .3s;
    }

    .navbar-fixed-top .navbar-brand {
        font-size: 2em;
        -webkit-transition: all .3s;
        -moz-transition: all .3s;
        transition: all .3s;
    }

    header .intro-text .name {
        font-size: 7.75em;
    }

    header .intro-text .skills {
        font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 1.75em;
        font-weight: 300;
    }

    header .container {
        padding-top: 180px;
        padding-bottom: 130px;
    }

    section .footer-above {
        padding-top: 80px;
        padding-bottom: 30px;
        background-color: #FFF;
    }

    .btn-outline {
        margin-top: 25px;
        padding: 10px 27px;
        border: solid 2px #fff;
        border-radius: 6px;
        font-size: 25px;
        color: #fff;
        background: 0 0;
        transition: all .3s ease-in-out;
    }

    .footer-below {
        padding: 55px 0;
        background-color: #364150;
        color: #fff;
    }

}
